extends layout
block content
  .panel.panel-default
    .panel-heading
      h1 Welcome
    .panel-body
      h4 UIL Invitation Taylor 2016
  .jumbotron
    .container
      h3 Seven Lakes High School
      h4 Team #4 - Novice
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Sanjay Yepuri
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Helen Zhou
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Nathan Dias
      .btn.btn-warning.pull-right Edit
            
            
