extends layout
block content
  .container
    .panel.panel-warning
      .panel-heading
      .panel-body
        .container
          h1 Welcome
          .container
            h4 UIL Invitation Taylor
    .jumbotron
      h3 Seven Lakes High School
      h4 Team #4 - Novice
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Sanjay Yepuri
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Helen Zhou
      .col-md-4
        .panel.panel-primary
          .panel-heading
            h4(class="panel-title") Nathan Dias
            
            
            
